<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Inicio</h1>
    <div th:if="${personas !=null and !personas.empty}">
    <table border="1">
        <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Telefóno</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.nombre}">Dato1</td>
            <td th:text="${persona.apellido}">Datos2</td>
            <td th:text="${persona.email}">Dato3</td>
            <td th:text="${persona.telefono}">Dato4</td>
        </tr>
    </table>
    </div>
    <div th:if="${personas == null or personas.empty}">
        La lista esta vacia
    </div>
</body>
</html>